@model payrolll.Models.Employeemasterdata

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employeemasterdata</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WA_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WA_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WA_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WA_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WA_Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WA_Block)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WA_street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WA_street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WA_Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WA_Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HA_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HA_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HA_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HA_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HA_Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HA_Block)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HA_street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HA_street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HA_Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HA_Religion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Empid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
