@model IEnumerable<payrolll.Models.Employeemasterdata>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WA_Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WA_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WA_Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WA_street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WA_Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HA_Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HA_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HA_Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HA_street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HA_Religion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WA_Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WA_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WA_Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WA_street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WA_Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HA_Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HA_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HA_Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HA_street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HA_Religion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Empid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Empid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Empid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
