@model payrolll.Models.attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_TimeIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_TimeIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_TimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_TimeOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Empid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
